
@{
    ViewData["Title"] = "AddSprintRequest";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

@model AgileManagement.Application.ProjectWithSprintResponseDto

<div class="container">
    <div class="row border">
        <div class="border col-md-3">@Model.Project.Name</div>

        <div class="border col-md-9">
            <button class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Add Sprint to Project</button>
            <a asp-area="Admin" asp-controller="Project" asp-action="AddContributorRequest">Remove Sprint to Project</a>

            <div id="accordion">
                @foreach (var sprint in Enumerable.Reverse(Model.Project.Sprints).ToList())
                {

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#@sprint.SprintName" aria-expanded="true" aria-controls="collapseOne">
                                    @sprint.SprintName   @sprint.StardDate - @sprint.EndDate
                                </button>
                            </h5>
                        </div>

                        <div id="@sprint.SprintName" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                Gelişme aşamasında
                            </div>
                        </div>
                    </div>

                }
            </div>




            <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">@Model.Project.Name</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <label>Başlangıç Tarihi :</label>
                            <input id="startdate" type="date" /> 
                            <br />  
                            <label>Bitiş Tarihi :</label>
                            <input id="enddate" type="date" />
                        </div>
                        <div class="modal-footer">

                            <button onclick="SaveChange('@Model.Project.ProjectId')" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    @section Scripts{

        <script>



            function SaveChange(projectId) {
                console.log(projectId);
                const startDate = $('#startdate').val();
                const endDate = $('#enddate').val();
                console.log(startDate)
                console.log("enddate", endDate)

                let sprint = {
                    startDate,
                    endDate,
                    projectId
                };
                $.ajax({
                    method: 'Post',
                    url: '/Admin/Project/AddSprintRequest',
                    contentType: 'application/json',
                    data: JSON.stringify(sprint), // data body den gönder demek
                    success: (response) => {
                        console.log("response başarılı");
                        if (response.isSuccess) {
                            AddSprintSuccess(response.lastSprint);
                        }
                        else {
                            console.log(response.message);
                            
                        }
                    },
                    error: (error) => {
                        console.log("response başarısız")
                        alert(error);
                    }
                })

            }


            function AddSprintSuccess(sprint) {
                console.log(typeof (sprint.endDate))
                console.log(sprint)


                $('#accordion').append(`<div class="card">
                    <div class="card-header" id="headingOne">
                        <h5 class="mb-0">
                            <button class="btn btn-link" data-toggle="collapse" data-target="#${sprint.sprintName}" aria-expanded="true" aria-controls="collapseOne">
                                ${sprint.sprintName.slice(0, 10).split("-").reverse().join("-")}   ${sprint.StardDate.slice(0, 10).split("-").reverse().join("-")} - ${sprint.EndDate.slice(0, 10).split("-").reverse().join("-")}
                            </button>
                        </h5>
                    </div>

                    <div id="${sprint.sprintName}" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card-body">
                            Geliştirme aşamasında...
                        </div>
                    </div>
                </div>`);
            }



        </script>
    }
